:root{
  --login-primary-color:#040A3F;
  --login-primary-color-hover:#7f8fa6;
}

body {
  background: #3e4144;
}
.form {
  margin: 50px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
}
h1.login-title {
  color: var(--login-primary-color);
  margin: 0px auto 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}
.login-input {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 25px;
  height: 25px;
  width: calc(100% - 23px);
}
.login-input:focus {
  border-color:#6e8095;
  outline: none;
}
.login-button {
  color: #fff;
  background: var(--login-primary-color);
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.link {
  color: var(--login-primary-color);
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.link a {
  color:  var(--login-primary-color);
}
h3 {
  font-weight: normal;
  text-align: center;
}
