{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<style>
    .form-group {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        width: 92%;
        padding: 5px;
        font-size: 18px;
        border: 1px solid rgba(128, 128, 128, 0.199);
        margin-top: 5px;
        margin-left: 2rem;
    }

    textarea {
        height: 190px;
        resize: vertical;
    }

</style>
<div class="emaillist">
    <form action="https://formspree.io/mbjzbwaj" method="POST" id="my-form">

        <div class="form-group">
            <input placeholder="Subject" type="text" id="firstName" name="firstName">
        </div>

        <div class="form-group">
            <input placeholder="To" type="text" id="firstName" name="firstName">
        </div>

        <div class="form-group">
            <input placeholder="CC" type="text" id="firstName" name="firstName">
        </div>

        <div class="form-group">
            <textarea placeholder="Message" name="massage" id="massage" cols="30" rows="3"></textarea>
        </div>

        <button class="submitBtn" type="submit">Send</button>
    </form>
</div>
{% endblock %}