{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<body>
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <img class="logo" src="{% static 'zeta/logo1.png' %}" alt="logo">
        </div>

        <div class="header_right">
            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" id="sidebar">

        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <!--    Setting Start-->
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <a href="{% url 'home' %}"><span class="material-icons">arrow_back</span></a>
                    <span class="material-icons">report</span>
                    <span class="material-icons">delete</span>
                    <span class="material-icons">drive_file_move</span>

                </div>

                <div class="emaillist_settingsright">
                    <span class="material-icons">volume_up</span>

                </div>
            </div>
            <div class="emailBody_content">
                <h3 class="emailBody_subject">Lorem ipsum Dolar</h3>

                <div class="emailBody_sender emaillist">
                    <h5>Facebook</h5>
                    <h6>To me</h6>
                    <div class="emailBody_time">10pm</div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consectetur
                    debitis id magni nihil quam? Corporis harum in iure magni nemo temporibus veritatis.
                    Consectetur earum eligendi id porro sunt.</p>


                    <button class="replyBtn"  onclick="toReplyPage()" type="submit">
                        <span class="material-icons">reply</span>
                        Reply</button>

            </div>

            <!--    Email List Row End-->
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>

<!--=================footer=====================-->
<footer>
    <ul class="footer_link">
        <div class="mode">
            <div class="sun-moon">
                <i class='bx bxs-sun sun'></i>
                <i class='bx bxs-moon moon'></i>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'privacy_page' %}">Privacy Settings</a></li>
        CopyRight @Zeta
    </ul>
</footer>
</body>


<script>

    function toReplyPage(){
        window.location.href = "{% url 'reply' %}";
    }

    const body = document.querySelector('body'),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";

        }
    });

</script>

{% endblock %}