{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}

<style>
    .emailBody_content{
        text-align: justify;
        text-justify: inter-word;
        margin-right: 20px;
    }
    .emailBody_time{
        text-align: right;
        margin-right: 20px;
    }
    .emailBodyBtn{
        width: 15%;
        font-weight: 1000;
        text-transform: capitalize;
        text-align: center;
        color: gray;
        border-radius: 5px;
        background-color: white;
        display: flex;
        align-items: normal;
        cursor: pointer;
        outline: none;
        border: none;
        box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.9);


    }
    .emailBodyBtn:hover{
        opacity: 0.5;
    }

</style>


<!--Header Start-->
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <span class="material-icons menu_icon" (click)="toogleMenu()">menu</span>
            <img src="{% static 'zeta/logo.png' %}" alt="logo">
        </div>

        <div class="header_middle">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Search">
            <span class="material-icons">arrow_drop_down</span>

        </div>

        <div class="header_right">
            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" *ngIf="showMenu" id="sidebar">
            <button class="sidebar_compose">
                <span class="material-icons">add</span>
                <p>Compose</p>
            </button>

            <div class="sidebarOption sidebarOption_active" (click)="toggleInbox()">
                <span class="material-icons">inbox</span>
                <h3>Inbox</h3>
            </div>

            <div class="sidebarOption" (click)="toggleSpam()">
                <span class="material-icons">report</span>
                <h3>Spam</h3>
            </div>
        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <!--    Setting Start-->
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <a href="{% url 'home' %}"><span class="material-icons">arrow_back</span></a>
                    <span class="material-icons">report</span>
                    <span class="material-icons">delete</span>
                    <span class="material-icons">drive_file_move</span>

                </div>

                <div class="emaillist_settingsright">
                    <span class="material-icons">volume_up</span>

                </div>
            </div>
            <div class="emailBody_content">
                <h3 class="emailBody_subject">Lorem ipsum Dolar</h3>

                <div class="emailBody_sender emaillist">
                    <h5><span class="material-icons">account_circle</span>Facebook</h5>
                    <h6>To me</h6>
                    <div class="emailBody_time">10pm</div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores consectetur
                    debitis id magni nihil quam? Corporis harum in iure magni nemo temporibus veritatis.
                    Consectetur earum eligendi id porro sunt.</p>

                <button class="emailBodyBtn">
                        <span class="material-icons">reply</span>
                        <p>reply</p>
                </button>

            </div>

            <!--    Email List Row End-->
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>

<script>

</script>
{% endblock %}