{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<body>
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <img class="logo" src="{% static 'zeta/logo1.png' %}" alt="logo">
        </div>

        <div class="header_right">
            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" id="sidebar">

        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <a href="{% url 'home' %}"><span class="material-icons">arrow_back</span></a>

                </div>
            </div>
            <div class="replyDiv">
                <form action="#" method="#" id="my-form">
                    <div class="form-group">
                        <textarea placeholder="Folder Name" name="massage" id="massage" cols="15" rows="3"></textarea>
                    </div>
                    <button class="replyBtn" type="submit">Create</button>
                </form>
            </div>
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>

<!--=================footer=====================-->
<footer>
    <ul class="footer_link">
        <div class="mode">
            <div class="sun-moon">
                <i class='bx bxs-sun sun'></i>
                <i class='bx bxs-moon moon'></i>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'privacy_page' %}">Privacy Settings</a></li>
        CopyRight @Zeta
    </ul>
</footer>
</body>
<script>
    const body = document.querySelector('body'),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");




    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";

        }
    });
</script>
{% endblock %}