{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<style>

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

    :root {
        /* ===== Colors ===== */
        --body-color:white;
        --whitesmoke-color: whitesmoke;
        --gray-color: gray;
        --sideBar-dark:#c04b37;
        --sideBar-light:#fccccc;
        --red-color:red;
        --white-color:white;
        --shaow-color:rgba(0, 0, 0, 0.5);
        --sidevar-font:#818181;
        --img:invert(0%) sepia(96%) saturate(0%) hue-rotate(46deg) brightness(93%) contrast(103%);
    }

    body.dark{
        --body-color:#343030;
        --whitesmoke-color: #3a3636;
        --gray-color: whitesmoke;
        --sideBar-dark: #fa8231;
        --sideBar-light: #daaa67;
        --red-color: #4f0505;
        --white-color:#343030;
        --shaow-color: rgba(169, 162, 162, 0.5);
        --sidevar-font:#b2bec3;
        --img:invert(93%) sepia(0%) saturate(5177%) hue-rotate(242deg) brightness(108%) contrast(96%);


    }

    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--whitesmoke-color);
    }
    .header .header_left {
        display: flex;
        align-items: center;
    }
    .header .header_left img {
        object-fit: contain;
        height: 80px;
        margin-left: 5px;
    }
    .header .header_left span {
        padding: 10px;
        cursor: pointer;
    }
    .header .header_middle {
        display: flex;
        flex: 0.8;
        height: 40px;
        align-items: center;
        background-color: var(--whitesmoke-color);
        padding: 10px;
        border-radius: 5px;
    }
    .header .header_middle input {
        border: none;
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: medium;
        background-color: transparent;
        opacity: 0.5;
    }
    .header .header_right {
        display: flex;
        padding-right: 20px;
    }
    .header .header_right span {
        padding: 10px;
    }
    .material-icons {
        color: var(--gray-color );
    }
    .sidebar {
        flex: 0.3;
        max-width: 300px;
        padding-right: 20px;
    }
    .sidebar .sidebar_compose {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: var(--gray-color);
        padding: 15px;
        border-radius: 30px;
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        border: none;
        box-shadow: 0 2px 5px -2px var(--shaow-color);
    }

    .sidebar .sidebar_compose:hover{
        opacity: 0.3;
    }
    .sidebar .sidebar_compose span {
        margin-right: 5px;
    }
    .sidebar .sidebarOption {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
        color: #818181;
    }
    .sidebar .sidebarOption .material-icons {
        padding: 5px;
    }
    .sidebar .sidebarOption h3 {
        flex: 1;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .sidebar .sidebar_footer {
        display: flex;
        justify-content: center;
    }
    .sidebar .sidebar_footer .sidebar_footer_Icons .material-icons {
        margin: 7px;
        cursor: pointer;
    }
    .sidebarOption:hover, .sidebarOption:hover h3, .sidebarOption:hover .material-icons, .sidebarOption_active, .sidebarOption_active h3, .sidebarOption_active .material-icons {
        background-color: var(--sideBar-light);
        color: var(--sideBar-dark);
        font-weight: 800;
    }
    .main_body {
        display: flex;
        height: 100vh;
    }
    .main_body .emaillist {
        flex: 1;
    }
    .main_body .emaillist .emaillist_setting {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--whitesmoke-color);
        background-color: var(--body-color);
        z-index: 999;
        padding-right: 8px;
    }
    .main_body .emaillist .emaillist_setting .material-icons {
        margin: 5px;
        cursor: pointer;
    }
    .main_body .emaillist .emaillist_setting .emaillist_settingsleft {
        display: flex;
        align-items: center;
    }
    body {
        height: 100vh;
        overflow: hidden;
        background-color: var(--body-color);
    }
    .emaillist_section {
        position: sticky;
        top: 0;
        display: flex;
        background-color: white;
        border-bottom: 1px solid var(--whitesmoke-color);
        z-index: 999;
    }
    .show-menu{
        display: none;
    }
    .emaillist_section .section {
        display: flex;
        align-items: center;
        border-bottom-width: 2px;
        padding: 15px;
        min-width: 200px;
        cursor: pointer;
        color: var(--gray-color);
        border-width: 0;
    }
    .emaillist_section .section :hover {
        background-color: var(--whitesmoke-color);
        border-width: 3px;
    }
    .emaillist_section .section h4 {
        font-size: 14px;
        margin-left: 15px;
    }
    .emaillist_section .section_selected {
        background-color: var(--whitesmoke-color);
        border-width: 3px;
        color: var(--red-color);
        border-bottom: 3px solid var(--red-color);
    }
    .emaillist_section .section_selected .material-icons {
        color: var(--red-color);
    }
    .emailRow {
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid var(--whitesmoke-color);
        cursor: pointer;
        z-index: 999;
    }
    .emailRow .emailRow_options {
        display: flex;
        align-items: center;
    }
    .emailRow .emailRow_options .material-icons {
        margin: 5px;
    }
    .emailRow .emailRow_message {
        display: flex;
        flex: 0.8;
        align-items: center;
        font-size: 13px;
    }
    .emailRow .emailRow_message h4 {
        width: 400px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;
    }
    .emailRow .emailRow_title {
        font-size: 13px;
        flex: 0.3;
    }
    .emailRow .emailRow_time {
        padding-right: 15px;
        font-size: 10px;
        font-weight: bold;
    }
    .emailRow .emailRow_description {
        font-weight: 400;
        color: var(--gray-color);
    }
    .emailRow:hover {
        border-top: 1px solid var(--whitesmoke-color);
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
    }

    .emaillist{
        overflow-y: visible;
    }
    .sidebar.close{
        display: none;
    }
    .spamMails{
        display: none;
    }

    /*------------------------------------Footer--------------------------*/
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: #dfe6e9;
        box-shadow: var(--white-color);
    }
    footer .footer_link {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    footer .footer_link li {
        margin: 0 10px;
    }
    footer .footer_link a {
        text-decoration: none;
        color: #2d3436;
        border: 1.1px solid var(--white-color);
        padding: 5px;
    }
    footer .footer_link .footer-tittle {
        text-align: center;
        flex: 6;
    }

    /*---------------------------------------theam----------------*/
    /*====================================================*/
    .mode{
        border-radius: 6px;
        position: relative;
        transition: 0.3s;
    }
    .mode .sun-moon{
        height: 50px;
        width: 60px;
    }
    .mode .sun-moon i{
        position: absolute;
    }
    .mode .sun-moon i.sun{
        opacity: 0;
    }
    body.dark .mode .sun-moon i.sun{
        opacity: 1;
    }
    body.dark .mode .sun-moon i.moon{
        opacity: 0;
    }
    .toggle-switch{
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
    }
    .toggle-switch .switch{
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--white-color);
        transition: 0.3s;
    }

    .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--gray-color);
        transition: 0.3s;
    }

    body.dark .switch::before {
        left: 20px;
    }

    .logo{
        filter: var(--img);
    }

</style>
<body>
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <span class="material-icons menu_icon">menu</span>
            <img class="logo" src="{% static 'zeta/logo1.png' %}" alt="logo">
        </div>

        <div class="header_middle">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Search">

        </div>

        <div class="header_right">
            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" id="sidebar">
            <button onclick="toCompose()" class="sidebar_compose">
                <span class="material-icons">add</span>
                <p>Compose</p>
            </button>

            <div class="sidebarOption sidebarOption_active inboxBtn" onclick="showInbox()">
                <span class="material-icons">inbox</span>
                <h3>Inbox</h3>
            </div>

            <div class="sidebarOption spamBtn" onclick="showSpam()">
                <span class="material-icons">report</span>
                <h3>Spam</h3>
            </div>

            <div class="sidebarOption staredBtn" onclick="showStarted()">
                <span class="material-icons">star</span>
                <h3>Stared</h3>
            </div>

            <div class="sidebarOption iitBtn" onclick="showIit()">
                <span class="material-icons">folder_special</span>
                <h3>IIT</h3>
            </div>

            <div class="sidebarOption mode" onclick="showIit()">
                    <div class="sun-moon">
                        <i class='bx bxs-sun sun'></i>
                        <i class='bx bxs-moon moon'></i>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </div>
            </div>
        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <!--    Setting Start-->
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <input type="checkbox">
                    <div class="sidebarOption">
                        <span class="material-icons">delete</span>
                    </div>
                    <a href="{% url 'home' %}"><span class="material-icons">redo</span></a>
                </div>

                <div class="emaillist_settingsright">
                    <a href="{% url 'privacy_page' %}"><span class="material-icons">settings</span></a>
                </div>
            </div>
            <div class="inboxMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      3-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      4-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
            </div>

            <div class="spamMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Ebay</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Alibaba</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <div class="staredMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Java</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">UoW</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <div class="iitMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">IIT</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">UoW</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <!--    Email List Row End-->
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>

<!--=================footer=====================-->
<footer>
    <ul class="footer_link">
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'privacy_page' %}">Privacy Settings</a></li>
        CopyRight @Zeta
    </ul>
</footer>
</body>
<!--Header Start-->


<script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".menu_icon");

    let inboxContent = document.querySelector(".inboxMails");
    let inboxBtn = document.querySelector(".inboxBtn");
    let spamContent = document.querySelector(".spamMails");
    let spamBtn = document.querySelector(".spamBtn");
    let staredContent = document.querySelector(".staredMails");
    let staredBtn = document.querySelector(".staredBtn");
    let iitContent = document.querySelector(".iitMails");
    let iitBtn = document.querySelector(".iitBtn");

    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });

    function showInbox(){

        console.log(inboxBtn);
        inboxBtn.addEventListener("click", ()=>{
            inboxContent.style.display="block";
            spamContent.style.display="none";
        });
    }
    function showSpam(){
        console.log(spamBtn);
        spamBtn.addEventListener("click", ()=>{
            spamContent.style.display="block";
            inboxContent.style.display="none";
            staredContent.style.display="none";
            iitContent.style.display="none";

        });
    }
    function showStarted(){
        console.log(staredBtn);
        staredBtn.addEventListener("click", ()=>{
            spamContent.style.display="none";
            inboxContent.style.display="none";
            staredContent.style.display="block";
            iitContent.style.display="none";

        });
    }

    function showIit(){
        console.log(staredBtn);
        iitBtn.addEventListener("click", ()=>{
            spamContent.style.display="none";
            inboxContent.style.display="none";
            staredContent.style.display="none";
            iitContent.style.display="block";

        });
    }

    function toEmailBody(){
        window.location.href = "{% url 'email_body' %}";
    }

    function toCompose(){
        window.location.href = "{% url 'compose' %}";
    }

    const body = document.querySelector('body'),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");




    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";

        }
    });

</script>

{% endblock %}