{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<!--Header Start-->
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <span class="material-icons menu_icon" (click)="toogleMenu()">menu</span>
            <img src="{% static 'zeta/logo.png' %}" alt="logo">
        </div>

        <div class="header_middle">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Search">
            <span class="material-icons">arrow_drop_down</span>

        </div>

        <div class="header_right">
            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" *ngIf="showMenu" id="sidebar">
            <button class="sidebar_compose">
                <span class="material-icons">add</span>
                <p>Compose</p>
            </button>

            <div class="sidebarOption sidebarOption_active" (click)="toggleInbox()">
                <span class="material-icons">inbox</span>
                <h3>Inbox</h3>
            </div>

            <div class="sidebarOption" (click)="toggleSpam()">
                <span class="material-icons">report</span>
                <h3>Spam</h3>
            </div>
        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <!--    Setting Start-->
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <input type="checkbox">
                    <span class="material-icons" (click)="toogleMore()">arrow_drop_down</span>
                    <div class="sidebarOption" *ngIf="showMore">
                        <input type="checkbox">
                        <h6>Delete</h6>
                    </div>
                    <span class="material-icons">redo</span>
                    <span class="material-icons">more_vert</span>
                </div>

                <div class="emaillist_settingsright">
                    <span class="material-icons">chevron_left</span>
                    <span class="material-icons">chevron_right</span>
                    <span class="material-icons">settings</span>
                </div>
            </div>
            <div class="inboxMails" *ngIf="showInbox">
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      3-->
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      4-->
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
            </div>
            <div class="spamMails" *ngIf="showSpam">
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Ebay</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Alibaba</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>
            <div class="staredMails" *ngIf="showStared">
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">IIT</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">UoW</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <!--    Email List Row End-->
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>
{% endblock %}