{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}
<style>
    .sidebar .sidebar_compose p{
        margin-top: 10px;
    }
    .caption{
        color: var(--gray-color);
        font-size: 18px;
        font-weight: 500;
    }
    .caption:hover{
        opacity: 0.5;
        color: var(--shaow-color);
    }
</style>
<body>
<div class="big-device">
    <div class="header">
        <div class="header_left">
            <span class="material-icons menu_icon">menu</span>
            <img class="logo" src="{% static 'zeta/logo1.png' %}" alt="logo">
        </div>

        <div class="header_middle">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Search">

        </div>

        <div class="header_right">

            {% if user.is_authenticated %}
            <span><p class="caption">Hi, <strong class="name">{{ user.username.capitalize }}!</strong></p></span>
            <span><a href="{% url 'logout' %}" class="caption">Log Out</a></span>
            {% else %}
            <span><a href="{% url 'login' %}" class="caption">Log In</a></span>
            {% endif %}
            <span class="material-icons" style="font-size: 40px;">account_circle</span>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main_body">
        <!--  Sidebar Start-->
        <div class="sidebar" id="sidebar">
            <button onclick="toCompose()" class="sidebar_compose">
                <span class="material-icons">add</span>
                <p>Compose</p>
            </button>

            <div class="sidebarOption sidebarOption_active inboxBtn" onclick="showInbox()">
                <span class="material-icons">inbox</span>
                <h3>Inbox</h3>
            </div>

            <div class="sidebarOption spamBtn" onclick="showSpam()">
                <span class="material-icons">report</span>
                <h3>Spam</h3>
            </div>

            <div class="sidebarOption staredBtn" onclick="showStarted()">
                <span class="material-icons">star</span>
                <h3>Stared</h3>
            </div>

            <div class="sidebarOption iitBtn" onclick="showIit()">
                <span class="material-icons">folder_special</span>
                <h3>IIT</h3>
            </div>

            <div class="sidebarOption mode" onclick="showIit()">

            </div>
        </div>
        <!--  Sidebar End-->

        <!--  Email List Start-->
        <div class="emaillist">
            <!--    Setting Start-->
            <div class="emaillist_setting">
                <div class="emaillist_settingsleft">
                    <input type="checkbox">
                    <div class="sidebarOption">
                        <span class="material-icons">delete</span>
                    </div>
                    <a href="{% url 'home' %}"><span class="material-icons">redo</span></a>
                </div>

                <div class="emaillist_settingsright">
                    <a href="{% url 'privacy_page' %}"><span class="material-icons">settings</span></a>
                </div>
            </div>
            <div class="inboxMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      3-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      4-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Facebook</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
            </div>

            <div class="spamMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Ebay</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Alibaba</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <div class="staredMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">Java</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">UoW</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <div class="iitMails">
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">IIT</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>
                <!--      2-->
                <div class="emailRow" onclick="toEmailBody()">
                    <div class="emailRow_options">
                        <input type="checkbox" />
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <div class="emailRow_title">UoW</div>
                    <div class="emailRow_message">
                        <h4>You have new friend request <span class="emailRow_description">
                                Add this person to your friend list.
                            </span></h4>
                    </div>
                    <div class="emailRow_time">10pm</div>
                </div>

            </div>

            <!--    Email List Row End-->
        </div>
        <!--  Email List End-->
        <!--Main Body End-->
    </div>
</div>

<!--=================footer=====================-->
<footer>
    <ul class="footer_link">
        <div class="mode">
            <div class="sun-moon">
                <i class='bx bxs-sun sun'></i>
                <i class='bx bxs-moon moon'></i>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'privacy_page' %}">Privacy Settings</a></li>
        CopyRight @Zeta
    </ul>
</footer>
</body>
<!--Header Start-->


<script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".menu_icon");

    let inboxContent = document.querySelector(".inboxMails");
    let inboxBtn = document.querySelector(".inboxBtn");
    let spamContent = document.querySelector(".spamMails");
    let spamBtn = document.querySelector(".spamBtn");
    let staredContent = document.querySelector(".staredMails");
    let staredBtn = document.querySelector(".staredBtn");
    let iitContent = document.querySelector(".iitMails");
    let iitBtn = document.querySelector(".iitBtn");

    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });

    function showInbox(){

        console.log(inboxBtn);
        inboxBtn.addEventListener("click", ()=>{
            inboxContent.style.display="block";
            spamContent.style.display="none";
        });
    }
    function showSpam(){
        console.log(spamBtn);
        spamBtn.addEventListener("click", ()=>{
            spamContent.style.display="block";
            inboxContent.style.display="none";
            staredContent.style.display="none";
            iitContent.style.display="none";

        });
    }
    function showStarted(){
        console.log(staredBtn);
        staredBtn.addEventListener("click", ()=>{
            spamContent.style.display="none";
            inboxContent.style.display="none";
            staredContent.style.display="block";
            iitContent.style.display="none";

        });
    }

    function showIit(){
        console.log(staredBtn);
        iitBtn.addEventListener("click", ()=>{
            spamContent.style.display="none";
            inboxContent.style.display="none";
            staredContent.style.display="none";
            iitContent.style.display="block";

        });
    }

    function toEmailBody(){
        window.location.href = "{% url 'email_body' %}";
    }

    function toCompose(){
        window.location.href = "{% url 'compose' %}";
    }

    const body = document.querySelector('body'),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");




    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";

        }
    });

</script>

{% endblock %}