{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Zeta{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'zeta/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{% static 'zeta/styles.css' %}" rel="stylesheet">
    <link href="{% static 'zeta/login.css' %}" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="817172131549-8ld1gj9r55sq37cr663omb6cmlchq93t.apps.googleusercontent.com">
</head>

<body>
    <!-- header section starts  -->

    {% block body %}
    {% endblock %}
</body>

</html>