{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}

<!--  Email List Start-->
<div class="emaillist">
    <!--    Setting Start-->
    <div class="emaillist_setting">
        <div class="emaillist_settingsleft">
            <span class="material-icons" onclick="history.back()">arrow_back</span>
        </div>
    </div>
    <div class="emailBody_content">
        <div class="replyDiv">
            <form action="#" method="#" id="my-form">
                <div class="form-group">
                    <input placeholder="CC" name="massage" id="massage" cols="30" rows="5"></input>
                </div>
                <div class="form-group">
                    <textarea placeholder="Reply" name="massage" id="massage" cols="30" rows="5"></textarea>
                </div>
                <button class="submitBtn" type="submit">Send</button>
            </form>
        </div>
    </div>
    <!--    Email List Row End-->
</div>
<!--  Email List End-->
<style>
    .submitBtn{
        margin-left: 0%;
        width: 100%;
    }
</style>
{% endblock %}