{% extends "zeta/layout.html" %}
{% load static %}

{% block body %}

<!--  Email List Start-->
<div class="emaillist">
    <!--    Setting Start-->
    <div class="emaillist_setting">
        <div class="emaillist_settingsleft">
            <input type="checkbox">
            <div class="sidebarOption">
                <span class="material-icons">delete</span>
            </div>
            <a href="{% url 'index' %}"><span class="material-icons">refresh</span></a>
        </div>

        <div class="emaillist_settingsright">
            <a href="{% url 'create' %}"><span class="material-icons">settings</span></a>
        </div>
    </div>
    <div class="inboxMails">
        {% for email in spams %}
        <a href="{% url 'email' email.id %}">
            <div class="emailRow">
                <div class="emailRow_options">
                    <input type="checkbox" />
                    <span class="material-icons">star_border</span>
                    <span class="material-icons">label_important</span>
                </div>
                <div class="emailRow_title">{{ email.username }}</div>
                <div class="emailRow_message">
                    <h6>{{ email.subject }} <span class="emailRow_description">
                        </span></h6>
                </div>
                <div class="emailRow_time">10pm</div>
            </div>
        </a>

        {% empty %}
        <li>No active listings</li>
        {% endfor %}
    </div>
</div>

{% endblock %}