<link rel="stylesheet" href="css/style.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


<div class="subContainer">
    <section class ="contact">
        <div class = "content">
            <h2>Contact Us</h2>
            <p>Have Questions, Feedback or Suggestions? Don't hesitate to contact us.
            We'd love it hear it, but please don't share any sensitive information.</p>		
        </div>
        
        <div class = "container">
            <div class = "contactInfo">
                <div class = "box">
                    <div class = "icon"><i class='bx bx-mail-send'></i></i></div>
                    <div class = "text">
                        <h1>Email Address</h1>
                        <p>nisiniweerathunga1814@gmail.com
                        <br>sachinimalsha20@gmail.com
                        <br>nadundias321@gmail.com</p>
                    </div>
                </div>
                
                <div class = "box">
                    <div class = "icon"><i class='bx bx-phone'></i></div>
                    <div class = "text">
                        <h1>Mobile Number</h1>
                        <p>+94-76-893-2542
                        <br>+94-77-560-5299</p>
                    </div>
                </div>
                
            </div>
            
            <div class = "contactForm">
                <form action="mailto:nisini.20191213@iit.ac.lk" method="post">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="" required="required">
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Type Your Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
            
        </div>
    </section>
</div>