@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
*{
  margin: 0;
  padding:0;
  overflow:hidden;
}

//Header
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;

  .header_left{
    display: flex;
    align-items: center;

    img{
      object-fit: contain;
      height: 80px;
      margin-left: 5px;
    }
    span{
      padding: 10px;
      cursor: pointer;
    }
  }
  .header_middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;

    input{
      border: none;
      width: 100%;
      padding: 10px;
      outline: none;
      font-size: medium;
      background-color: transparent;
    }
  }

  .header_right{
    display: flex;
    padding-right: 20px;

    span{
      padding: 10px;
      cursor: pointer;
    }
  }
}
.material-icons{
  color: gray;
}

//Sidebar
.sidebar{
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;

  .sidebar_compose{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: gray;
    padding:15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,0.5);

    span{
      margin-right: 5px;
    }
  }
  .sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;

    .material-icons{
      padding:5px;
    }
    h3{
      flex: 1;
      margin-left: 10px;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .sidebar_footer{
    display: flex;
    justify-content: center;

    .sidebar_footer_Icons{
      .material-icons{
        margin:7px;
        cursor: pointer;
      }
    }
  }
}
.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption_active,
.sidebarOption_active h3,
.sidebarOption_active .material-icons{
  background-color: #fccccc;
  color: #c04b37;
  font-weight: 800;
}

//main body
.main_body{
  display:flex;
  height: 100vh;

  .emaillist{
    flex: 1;

    .emaillist_setting{
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid whitesmoke;
      background-color: white;
      z-index: 999;
      padding-right: 8px;

      .material-icons{
        margin: 5px;
        cursor: pointer;
      }

      .emaillist_settingsleft{
        display: flex;
        align-items: center;
      }
    }
  }
}

body{
  height: 100vh;
  overflow: hidden;
}

.emaillist_section{
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;

  .section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0;

    :hover{
      background-color: whitesmoke;
      border-width: 3px;
    }

    h4{
      font-size: 14px;
      margin-left: 15px;
    }
  }
  .section_selected{
    background-color: whitesmoke;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;

    .material-icons{
      color: red
    }
  }
}

//Email Row Options
.emailRow{
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;

  .emailRow_options{
    display: flex;
    align-items: center;

    .material-icons{
      margin:5px;
    }
  }
  .emailRow_message{
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;

    h4{
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5px;
      padding-right: 5px;
    }

  }

  .emailRow_title{
    font-size: 13px;
    flex: 0.3;
  }

  .emailRow_time{
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
  }

  .emailRow_description{
    font-weight: 400;
    color: gray;
  }
}
.emailRow:hover{
  border-top: 1px solid whitesmoke;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.24);
}
