<!--Google icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!--Header Start-->
<div class="big-device">
  <div class="header">
    <div class="header_left">
      <span class="material-icons menu_icon" (click)="toogleMenu()">menu</span>
      <img src="./assets/logo.png" alt="logo">
    </div>

    <div class="header_middle">
      <span class="material-icons">search</span>
      <input type="text" placeholder="Search">
      <span class="material-icons">arrow_drop_down</span>

    </div>

    <div class="header_right">
      <span class="material-icons">apps</span>
      <span class="material-icons">notifications</span>
      <span class="material-icons">account_circle</span>
    </div>
  </div>
  <!--Header End-->

  <!--Main Body Start-->
  <div class="main_body">
    <!--  Sidebar Start-->
    <div class="sidebar" *ngIf="showMenu" id="sidebar">
      <button class="sidebar_compose">
        <span class="material-icons">add</span>
        <p>Compose</p>
      </button>

      <div class="sidebarOption sidebarOption_active">
        <span class="material-icons">inbox</span>
        <h3>Inbox</h3>
      </div>

      <div class="sidebarOption">
        <span class="material-icons">star</span>
        <h3>Stared</h3>
      </div>

      <div class="sidebarOption">
        <span class="material-icons">report</span>
        <h3>Spam</h3>
      </div>

      <!--    <div class="sidebarOption">-->
      <!--      <span class="material-icons">label_important</span>-->
      <!--      <h3>Important</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption">-->
      <!--      <span class="material-icons">near_me</span>-->
      <!--      <h3>Sent</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption">-->
      <!--      <span class="material-icons">note</span>-->
      <!--      <h3>Drafts</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption"(click)="toogleMore()">-->
      <!--      <span class="material-icons">expand_more</span>-->
      <!--      <h3>More</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption" *ngIf="showMore">-->
      <!--      <span class="material-icons">expand_more</span>-->
      <!--      <h3>File1</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption" *ngIf="showMore">-->
      <!--      <span class="material-icons">expand_more</span>-->
      <!--      <h3>File2</h3>-->
      <!--    </div>-->

      <!--    <div class="sidebarOption">-->
      <!--      <span class="material-icons">expand_more</span>-->
      <!--      <h3>File3</h3>-->
      <!--    </div>-->


      <div class="sidebar_footer">
        <div class="sidebar_footer_Icons">
          <span class="material-icons">person</span>
          <span class="material-icons">duo</span>
          <span class="material-icons">phone</span>
        </div>
      </div>

    </div>
    <!--  Sidebar End-->

    <!--  Email List Start-->
    <div class="emaillist">
      <!--    Setting Start-->
      <div class="emaillist_setting">
        <div class="emaillist_settingsleft">
          <input type="checkbox">
          <span class="material-icons" (click)="toogleMore()">arrow_drop_down</span>
          <div class="sidebarOption" *ngIf="showMore">
            <input type="checkbox">
            <h6>Delete</h6>
          </div>
          <span class="material-icons">redo</span>
          <span class="material-icons">more_vert</span>
        </div>

        <div class="emaillist_settingsright">
          <span class="material-icons">chevron_left</span>
          <span class="material-icons">chevron_right</span>
          <span class="material-icons">settings</span>
        </div>
      </div>

      <div class="emailRow">
        <div class="emailRow_options">
          <input type="checkbox"/>
          <span class="material-icons">star_border</span>
          <span class="material-icons">label_important</span>
        </div>
        <div class="emailRow_title">Facebook</div>
        <div class="emailRow_message"><h4>You have new friend request <span class="emailRow_description">
          Add this person to your friend list.
        </span></h4></div>
        <div class="emailRow_time">10pm</div>
      </div>
      <!--      2-->
      <div class="emailRow">
        <div class="emailRow_options">
          <input type="checkbox"/>
          <span class="material-icons">star_border</span>
          <span class="material-icons">label_important</span>
        </div>
        <div class="emailRow_title">Facebook</div>
        <div class="emailRow_message"><h4>You have new friend request <span class="emailRow_description">
          Add this person to your friend list.
        </span></h4></div>
        <div class="emailRow_time">10pm</div>
      </div>
      <!--      3-->
      <div class="emailRow">
        <div class="emailRow_options">
          <input type="checkbox"/>
          <span class="material-icons">star_border</span>
          <span class="material-icons">label_important</span>
        </div>
        <div class="emailRow_title">Facebook</div>
        <div class="emailRow_message"><h4>You have new friend request <span class="emailRow_description">
          Add this person to your friend list.
        </span></h4></div>
        <div class="emailRow_time">10pm</div>
      </div>
      <!--      4-->
      <div class="emailRow">
        <div class="emailRow_options">
          <input type="checkbox"/>
          <span class="material-icons">star_border</span>
          <span class="material-icons">label_important</span>
        </div>
        <div class="emailRow_title">Facebook</div>
        <div class="emailRow_message"><h4>You have new friend request <span class="emailRow_description">
          Add this person to your friend list.
        </span></h4></div>
        <div class="emailRow_time">10pm</div>
      </div>
      <!--      Email Row End-->
    </div>
    <!--    Email List Row End-->
  </div>
  <!--  Email List End-->
  <!--Main Body End-->
</div>

